input(name='attr_version' type='hidden' value='1')

//- TABS
  =============================
input.type(name='attr_sheet_type', type='hidden', value='character')
input(name='attr_toggles', type='hidden', value='')

include src/pug/_mixins.pug

- const skillsList = ['acrobatics','animal handling','arcana','athletics','deception','history','insight','intimidation','investigation','medicine','nature','perception','performance','persuasion','religion','sleight of hand','stealth','survival'];
- const abilitiesScores = ['strength', 'dexterity', 'constitution', 'intelligence', 'wisdom', 'charisma'];
- const proficiencyTypes = ['armor', 'language', 'tool', 'other', 'weapon'];

//-NPC SHEET
  =============================

//- CHARACTER INFO
  =============================
.pc
  .character-info.grid.background
    img(alt='D&D 5e Logo' src='')
    .grid.character-names
      each val in ['character_name', 'player_name']
        +textInput(val)
    .grid.class-level
      +textInput('class')
      +numberInput('level')
      .border-bottom
      h2(data-i18n='class & level')
    .grid.race-background
      each val in ['race', 'background', 'alignment', 'experience']
        +textInput(val)
      .border-bottom
      each val in ['race', 'background', 'alignment', 'experience']
        h2(data-i18n=val)
  
  .inspiration-row.grid.background
    .inspiration.border
      .header
        h1(data-i18n='inspiration')
      .body
        +checkboxInput(`inspiration`)
    .initiative.border
      .header
        +rollButton('initiative')
      .body
        +textInput('initiative')
    .armor.border
      .header
        button(data-i18n='armor' name='roll_armor' type='roll' value='')
      .body
        +numberInput('armor class')
        h1(data-i18n='class')
    .hit-points.border
      .header
        h1(data-i18n='hit points')
      .body.grid
        .current.grid
          h2(data-i18n='current')
          +numberInput('hit points')
          span /
          h2(data-i18n='max')
          +numberInput('hit points max')
        .temp.grid
          h2(data-i18n='temp')
          +numberInput('hit points temp')
    .hit-dice.border
      .header.grid
        +rollButton('hit dice')
        select(name='attr_hit_die' title='@{hit_die}' value='d6')
          +diceOptions('d6')
      .body.grid
        h2(data-i18n='current')
        +numberInput('hit dice')
        span /
        h2(data-i18n='max')
        +numberInput('hit dice max')
    .death-saves.border
      .header
        +rollButton('death saves')
      .body.grid
        +deathSaves('success')
        +deathSaves('fail')

  .body
    .ability.column.background(data-i18n-list="abilitiy-list")
      each val in abilitiesScores
        .border(class=val data-i18n-list=val)
          +rollButton(`${val}`)
          +textInput(`${val} modifier`)
          +numberInput(`${val} score`)
          +checkboxInput(`${val} saving throw proficiency`)
          +numberInput(`${val} saving throw modifier`)

      fieldset(class='repeating_ability')


    .column.background
      .speed
        h1(data-i18n='walking speed')
        +numberInput('walking speed')

      .perception
        h1(data-i18n='passive perception')
        +numberInput('passive perception')

      .skills.border
        h1.border-bottom(data-i18n='skills')

        .skill-headers
          h2(data-i18n='Prof/Exp')
          h2(data-i18n='skill')
          h2(data-i18n='ability')
          h2(data-i18n='bon')
        //- Used to order list alphabetically for other languages
        .skills-list(data-i18n-list="skills-list")
          each val in skillsList
            - const attrName = val.replace(/ /g, '_');
            .grid.skill-row(class=`${val}` data-i18n-list-item=attrName)
              +checkboxInput(`${val} proficiency`)
              +rollButton(`${val}`)
              +abilitySelect(`${val}`)
              +textInput(`${val} modifier`)

          fieldset(class='repeating_skill')

      .proficiencies.border
        h1(data-i18n='proficiencies')
        +numberInput('proficiency bonus')
        h2(data-i18n='name')
        h2(data-i18n='ability')
        h2(data-i18n='type')
        h2(data-i18n='bon')
        fieldset(class='repeating_proficiency')
          //-+rollButton()
          +abilitySelect(`${val}`)
          select(name=`attr_type` title=`@{repeating_proficiencytype}`)
            each val in proficiencyTypes
              option(data-i18n=val value=`${val}`)


    .column.background
      EVERYTHING ELSE





//-FOOTER
  =============================
footer
  span Version 
  span(name='attr_version')

//-HIDDEN ATTRIBUTES
  =============================

//-ROLL TEMPLATE
  =============================
.rolltemplates
  rolltemplate.sheet-rolltemplate-rolls
    // - Display a header on the template -
    .sheet-template-header
      | {{#header}}{{header}}{{/header}}
    // - Display the dice roll in the template -
    .sheet-template-body
      | {{#dice}}
      .sheet-template-row {{dice}}
      | {/dice}}
      // - Display a description. This is great for text included with a roll -
      | {{#desc}}
      .sheet-template-row
        span.sheet-template-desc
      | {{/desc}}

//- SCRIPTS
include src/js/scripts.js