
mixin deathSaves(type)
	-let n = 1;
	h2(data-i18n=type)
	.grid(class=`${type}`)
		.line
		while n < 4
			label(data-i18n-title=`toggle ${type} death save` title=`toggle ${type} death save`)
				input(name=`attr_${type}` type='checkbox' value=n++)

mixin textInput(name)
	- const attrName = name.replace(/ /g, '_');
	label(data-i18n-title=`enter ${name}` title=`enter ${name}`)
		input(data-i18n-placeholder=name name=`attr_${attrName}` placeholder=name title=`@{${attrName}}` type='text' value='')

mixin numberInput(name)
	- const attrName = name.replace(/ /g, '_');
	label(data-i18n-title=`enter ${name}` title=`enter ${name}`)
		input(name=`attr_${attrName}` title=`@{${attrName}}` type='number' value='')

mixin checkboxInput(name)
	- const attrName = name.replace(/ /g, '_');
	label(data-i18n-title=`toggle ${name}` title=`enter ${name}`)
		input(name=`attr_${attrName}` title=`@{${attrName}}` type='checkbox' value=name)

mixin rollButton(name)
	- const attrName = name.replace(/ /g, '-');
	button(data-i18n=name name=`roll_${attrName}` type='roll' value='')

mixin saveButton(name)
	- const attrName = name.replace(/ /g, '-');
	button(data-i18n='save' name=`roll_${attrName}` type='roll' value='')

mixin abilitySelect(name)
	- const attrName = name.replace(/ /g, '_');
	select(name=`attr_${attrName}_ability_modifier` title=`@{${attrName}_ability_modifier}`)
		each val in abilitiesScores
			option(data-i18n=val value=`${val}_modifier`)

mixin diceOptions(selected)
	each val in ['d4', 'd6', 'd8', 'd10', 'd12', 'd20']
		if selected === val
			option(data-i18n=val value=val selected)
		else
			option(data-i18n=val value=val)